<ion-view title="1 Nephi 4:6" id="page12" style="" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="1Nephi46-card211">
            <ion-item class="item" id="1Nephi46-list-item41">
                <h2>1 Nephi 4:6</h2>
                <p>Nephi led by the Spirit</p>
            </ion-item>
            <div class="item item-body " id="1Nephi46-list-item-container11">
                <p id="1Nephi46-markdown13" style="margin-top:0px;color:#000000;" class=" ">And I was led by the Spirit, not knowing beforehand the things which I should do.</p>
            </div>
        </div>
    </ion-content>
</ion-view>