<ion-view title="2 Nephi 31:20" id="page10" style="" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="2Nephi3120-card29">
            <ion-item class="item" id="2Nephi3120-list-item34">
                <h2>2 Nephi 31:20</h2>
                <p>Press Forward</p>
            </ion-item>
            <div class="item item-body " id="2Nephi3120-list-item-container8">
                <p id="2Nephi3120-markdown10" style="margin-top:0px;color:#000000;" class=" ">Wherefore, ye must press forward with a steadfastness in Christ, having a perfect brightness of hope, and a love of God and of all men. Wherefore, if ye shall press forward, feasting upon the word of Christ, and endure to the end, behold,
                    thus saith the Father: Ye shall have eternal life.</p>
            </div>
        </div>
    </ion-content>
</ion-view>