<ion-view title="My Account" cache-view="false">
	<ion-nav-title class="pmfont">My Account</ion-nav-title>
    <ion-content padding="true" class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<p ng-if="!authData"><button ui-sref="login" class="button button-block button-positive">Sign In</button></p>
        <div class="list card">
			<div class="item item-text-wrap item-avatar">
				<img ng-src="{{currentUser.avatarUrl ? currentUser.avatarUrl : defaultAvatarUrl}}">
				<h1 style="margin: 0;">{{currentUser.displayName}}</h1>
				<h3 class="pmfont" style="font-size: 105%; margin: 0;"><span style="font-size: 120%;">{{currentUser.pointsTotal ? currentUser.pointsTotal : 0 | number:0}}</span> F.I.G.H.T. Points</h3>
			</div>
		</div>
        <div class="list card">
			<div class="item item-divider item-button-right">
				<h1>My Account</h1>
				<button class="button button-positive icon-right" ng-click="doSignOut()">Log Out <i class="icon ion-log-out"></i></button>
			</div>
			<div class="item item-text-wrap item-icon-left" ui-sref="tabsController.account-edit"><i class="icon ion-compose"></i> Edit My Profile</div>
			<div class="item item-text-wrap item-icon-left" ui-sref="tabsController.account-daily"><i class="icon ion-calendar"></i> Daily &amp; Weekly Overview</div>
			<div class="item item-text-wrap item-icon-left" ui-sref="tabsController.account-points"><i class="icon ion-ios-list-outline"></i> Point Log</div>
		</div>
	</ion-content>
</ion-view>