<ion-view title="Alma 57:27" id="page14" style="background-color:#D5D4DA;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="alma5727-card213">
            <ion-item class="item" id="alma5727-list-item44">
                <h2>Alma 57:27</h2>
                <p>trust in God continually</p>
            </ion-item>
            <div class="item item-body " id="alma5727-list-item-container13">
                <p id="alma5727-markdown15" style="margin-top:0px;color:#000000;" class=" ">Now this was the faith of these of whom I have spoken; they are young, and their minds are firm, and they do put their trust in God continually.</p>
            </div>
        </div>
    </ion-content>
</ion-view>