<ion-view title="Alma 37:37" id="tab3" style="" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="alma3737-card212">
            <ion-item class="item item-divider" id="alma3737-list-item42">
                <h1>Alma 37:37</h1>
                <p>Counsel with the Lord</p>
            </ion-item>
            <div class="item item-body " id="alma3737-list-item-container12">
                <p id="alma3737-markdown14" style="margin-top:0px;color:#000000;" class=" ">Counsel with the Lord in all thy doings, and he will direct thee for good; yea, when thou liest down at night lie down unto the Lord, that he may watch over you in your sleep; and when thou risest in the morning let thy heart be full of
                    thanks unto God; and if ye do these things, ye shall be lifted up at the last day.</p>
            </div>
        </div>
    </ion-content>
</ion-view>