<ion-view title=" Army of Helaman" id="page16" style="" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="ArmyOfHelaman-card215">
            <ion-item class="item" id="ArmyOfHelaman-list-item48">
                <h2>We'll Bring the World His Truth</h2>
                <p>(Army of Helaman)</p>
            </ion-item>
            <div class="item item-body " id="ArmyOfHelaman-list-item-container15">
                <p id="ArmyOfHelaman-markdown17" style="margin-top:0px;color:#000000;" class=" ">We have been born, as Nephi of old, To goodly parents who love the Lord. We have been taught, and we understand, That we must do as the Lord commands.</p>
                <p id="ArmyOfHelaman-markdown18" style="color:#000000;" class=" ">Chorus: We are as the army of Helaman. We have been taught in our youth. And we will be the Lord's missionaries To bring the world his truth.</p>
                <p id="ArmyOfHelaman-markdown19" style="color:#000000;" class=" ">We have been saved for these latter days To build the kingdom in righteous ways. We hear the words our prophet declares: "Let each who's worthy go forth and share."</p>
                <p id="ArmyOfHelaman-markdown20" style="color:#000000;" class=" ">We know his plan, and we will prepare, Increase our knowledge through study and prayer. Daily we'll learn until we are called To take the gospel to all the world.</p>
            </div>
        </div>
    </ion-content>
</ion-view>