<ion-view title="Called to Serve" id="tab7" style="" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="calledToServe-card216">
            <ion-item class="item item-divider" id="calledToServe-list-item50">
                <h1>Called to Serve</h1>
                <p>Hymn #249</p>
            </ion-item>
            <div class="item item-body " id="calledToServe-list-item-container16">
<p>Called to serve Him, heav'nly King of glory, Chosen e'er to witness for his name, Far and wide we tell the Father's story, Far and wide his love proclaim.</p>
<p>Chorus: Onward, ever onward, as we glory in his name; Onward, ever onward, as we glory in his name; Forward, pressing forward, as a triumph song we sing. God our strength will be; press forward ever, Called to serve our King.</p>
<p>Called to know the richness of his blessing-- Sons and daughters, children of a King-- Glad of heart, his holy name confessing, Praises unto him we bring.</p>
            </div>
        </div>
    </ion-content>
</ion-view>