<ion-view title="Feed">
	<ion-nav-title class="pmfont"><img src="img/Logo2.png" style="height: 40px;"></ion-nav-title>
    <ion-content padding="true" style="background: url(img/Mg2a8RgRja79blFzYBhz_Temple_Gilbert_Dusk1_MIP_export.jpg) no-repeat center;background-size:cover;" class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		{{msg}}
		<p ng-if="!authData"><button ui-sref="login" class="button button-block button-positive">Sign In</button></p>

		<form ng-if="canPost()" class="list card" ng-submit="savePost(post);post.message=''">
			<ion-item class="item item-avatar item-text-wrap">
				<img ng-src="{{currentUser.avatarUrl ? currentUser.avatarUrl : defaultAvatarUrl}}">
				<span style="float: right; color: #aaa; font-size: 70%;">{{date | date:'shortTime'}}</span>
				<h2 class="pmfont">{{currentUser.displayName}}</h2>
			</ion-item>
			<label class="item item-input">
				<textarea ng-model="post.message" placeholder="Share your thoughts..."></textarea>
			</label>
			<label class="item">
				<button type="submit" class="button icon-left ion-edit button-small" ng-class="{'button-positive': post.message.length > 5}">Save Post</button>
				<button class="button icon-left ion-image button-small button-calm">Share Photo</button>
			</label>
		</form>

		<div ng-if="currentUser.groups.leaders" class="button-bar filterbar">
			<button ng-click="order('dateTime')" class="button button-small" ng-class="predicate == 'dateTime' ? 'button-positive icon-right' : 'button-stable'">Day <i ng-if="predicate == 'dateTime'" ng-class="reverse ? 'ion-arrow-down-b' : 'ion-arrow-up-b'"></i></button>
			<button ng-click="order('title')" class="button button-small" ng-class="predicate == 'title' ? 'button-positive icon-right' : 'button-stable'">Title <i ng-if="predicate == 'title'" ng-class="reverse ? 'ion-arrow-down-b' : 'ion-arrow-up-b'"></i></button>
			<button ng-click="showFuture()" class="button button-small" ng-class="showingFuture ? 'button-balanced' : 'button-stable'">{{showFutureBtn}}</button>
			<button ng-if="1==0" ng-click="showCompleted()" class="button button-small" ng-class="showingCompleted ? 'button-balanced' : 'button-stable'">{{showCompletedBtn}}</button>
		</div>
		<div class="list card" ng-repeat="feeditem in feedlist | orderBy: predicate : reverse | filter: filterFeed()">
			<div ng-if="feeditem.type && feeditem.type == 'news' && feeditem.title" class="item item-text-wrap item-icon-left">
                <i class="icon ion-ios-book-outline"></i> {{feeditem.title}}
			</div>
			<div ng-if="feeditem.type && feeditem.type == 'video' && feeditem.title" class="item item-text-wrap item-icon-left">
                <i class="icon ion-social-youtube"></i> {{feeditem.title}}
			</div>
			<div ng-if="feeditem.type && feeditem.type == 'post'" class="item item-text-wrap item-avatar">
				<img ng-src="{{feeditem.user.avatarUrl ? feeditem.user.avatarUrl : defaultAvatarUrl}}">
				<h1 ng-if="!feeditem.isViewable" style="color: red;">Moderated<span style="font-size: 70%"> - {{canApprove() ? "Requires Action" : "Waiting for Approval"}}</span></h1>
				<span style="float: right; color: #aaa; font-size: 70%;">{{feeditem.timestamp | date:'shortTime'}}</span>
				<h2 class="pmfont">{{feeditem.user.displayName}}</h2>
			</div>
			<div ng-if="feeditem.type && feeditem.type == 'meme' && feeditem.imgSrc" class="item item-image">
                <img ng-src="{{feeditem.imgSrc}}">
			</div>
            <div ng-if="feeditem.type && feeditem.type == 'lesson'" class="item item-text-wrap" style="background: url({{feeditem.feedImg ? feeditem.feedImg : 'img/Mg2a8RgRja79blFzYBhz_Temple_Gilbert_Dusk1_MIP_export.jpg'}}) no-repeat center; background-size:cover; height: {{feedItem.height ? feedItem.height : '280'}}px; padding: 10px;" ui-sref="tabsController.feed-lessons-detail({ lessonId: feeditem.$id })" ui-sref-opts="{inherit: false}">
			  <i class="icon" ng-class="{'ion-minus-circled energized': !currentUser.points[feeditem.$id].pointValue, 'ion-checkmark-circled balanced': currentUser.points[feeditem.$id].pointValue}" style="float: left; font-size: 32px; text-shadow: 2px 2px 5px #000000;"></i>
			  <div style="color: white; text-shadow: 3px 3px 6px #000000;">
				<div class="pmfont" style="font-size: 18px; text-align: right;"><span ng-show="feeditem.date">{{feeditem.date}} </span>Lesson</div>
				<div class="pmfont" style="line-height: {{feeditem.feedLineHeight ? feeditem.feedLineHeight : (72 - (feeditem.title.length/2))}}px; font-size: {{feeditem.feedFontSize ? feeditem.feedFontSize : (58 - (feeditem.title.length/2))}}px; margin: 12px auto 10px auto; text-align: center;">{{feeditem.title}}</div>
			  </div>
			</div>
            <div ng-if="feeditem.type && feeditem.type == 'content'" class="item item-text-wrap" style="background: url({{feeditem.feedImg ? feeditem.feedImg : 'img/Mg2a8RgRja79blFzYBhz_Temple_Gilbert_Dusk1_MIP_export.jpg'}}) no-repeat center; background-size:cover; height: {{feedItem.height && feedItem.height > 0 ? feedItem.height : '220'}}px; padding: 10px;" ui-sref="tabsController.feed-content-detail({ contentId: feeditem.$id })" ui-sref-opts="{inherit: false}">
			  <div style="color: white; text-shadow: 3px 3px 6px #000000;">
				<div class="pmfont" style="line-height: {{feeditem.feedLineHeight ? feeditem.feedLineHeight : (72 - (feeditem.title.length/2))}}px; font-size: {{feeditem.feedFontSize ? feeditem.feedFontSize : (58 - (feeditem.title.length/2))}}px; margin: 0px auto 10px auto; text-align: center;">{{feeditem.title}}</div>
			  </div>
			</div>
			<div ng-if="feeditem.type && feeditem.type == 'post' && feeditem.message" class="item item-body">{{feeditem.message}}</div>
			<div ng-if="feeditem.html && !(feeditem.type && feeditem.type == 'meme')" ng-bind-html="feeditem.html" class="" ng-class="feeditem.type && feeditem.type == 'video' ? '' : 'item item-body'"></div>
            <div ng-if="feeditem.type && feeditem.type == 'content'" class="item item-text-wrap">
				<i class="icon ion-thumbsup"></i> {{feedItem.likes && feedItem.likes > 0 ? feedItem.likes : '0'}} Likes
				<i class="icon ion-ios-chatbubble"></i> Comment
			</div>
            <div ng-if="feeditem.type && feeditem.type == 'post'" class="item item-text-wrap">
				<i class="icon ion-thumbsup"></i> {{feedItem.likes && feedItem.likes > 0 ? feedItem.likes : '0'}} Likes
				<i class="icon ion-ios-chatbubble"></i> Comment
			</div>
		</div>
    </ion-content>
</ion-view>