<ion-view title="Feed" id="page2" style="" class=" ">
	<ion-nav-title>
	<img src="img/Logo2.png" style="height: 40px;">
	</ion-nav-title>
    <ion-content padding="true" style="background: url(img/Mg2a8RgRja79blFzYBhz_Temple_Gilbert_Dusk1_MIP_export.jpg) no-repeat center;background-size:cover;" class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<p ng-if="!authData"><button ui-sref="login" class="button button-block button-positive activated">Sign In</button></p>
		<p ng-if="authData">Logged in user: <strong>{{ authData.uid }}</strong></p>
		<p ng-if="currentUser">currentUser: <strong>{{ currentUser.uid }}</strong></p>
		<p ng-if="error">Error: <strong>{{ error }}</strong></p>
		<img src="img/Logo2.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto; max-width: 350px;">
		<div ng-repeat="feeditem in feedlist | orderBy: predicate : reverse" class="list card">
			<ion-item class="item-icon-left" ui-sref="tabsController.lessons-detail({ lessonId: feeditem.$id })">
                <i class="icon ion-ios-book-outline"></i> {{feeditem.title}}
			</ion-item>
            <div class="item" style="background: url(https://history.lds.org/bc/content/images/prophets-of-the-restoration/ezra-taft-benson/780x390/ezra-taft-benson-formal-portrait-1179219.jpg) no-repeat center; background-size:cover; text-align: center;" ui-sref="tabsController.lessons-detail({ lessonId: feeditem.$id })">
			  <div class="pmfont" style="color: white; text-shadow: 4px 4px 6px #000000; line-height: 60px; height: 150px; font-size: 48px; margin: 50px auto 50px auto;">Beware of Pride</div>
            </div>
		</div>
    </ion-content>
</ion-view>