<ion-view title="Goals" id="page4" style="" class="">
    <ion-content padding="true" class="has-header templebg">
        <h3 id="feed-heading8" style="color:#FFFFFF;text-align:center;" class="pmfont">Earning Points Launches in:</h3>
        <h3 id="feed-heading9" style="color:#FFFFFF;font-weight:300;font-style:italic;text-align:center;" class=""><span countdown='' date='June 1, 2016 00:00:00 MST'>&nbsp;</span></h3>
        <p id="goals-markdown9" style="color:#FFFFFF;" class=" ">You can start each action now, each of these daily and weekly goals, but earning points doesn't begin until June 1st.</p>
        <div class="list card " id="goals-card21">
            <ion-item class="item-icon-left assertive pmfont" id="goals-list-item9">
                <i class="icon ion-calendar"></i>Daily Actions</ion-item>
            <ion-list id="goals-list2" class=" ">
                <ion-checkbox>Read Scriptures</ion-checkbox>
                <ion-checkbox>Daily FIGHT Lesson</ion-checkbox>
                <ion-checkbox>Write in Journal</ion-checkbox>
            </ion-list>
        </div>
        <div class="list card " id="goals-card23">
            <ion-item class="item-icon-left positive pmfont" id="goals-list-item19">
                <i class="icon ion-calendar"></i>Weekly Actions</ion-item>
            <ion-list id="goals-list4" class=" ">
                <ion-checkbox>FIGHT Challenge</ion-checkbox>
                <ion-checkbox>Duty to God</ion-checkbox>
                <ion-checkbox>Scouting Progress</ion-checkbox>
                <ion-checkbox>Share Testimony</ion-checkbox>
            </ion-list>
        </div>
        <div class="list card " id="goals-card219">
            <ion-item class="item-icon-left balanced pmfont" id="goals-list-item57">
                <i class="icon ion-calendar"></i>Monthly Actions</ion-item>
            <ion-list id="goals-list7" class=" ">
                <ion-checkbox>Attend Temple</ion-checkbox>
            </ion-list>
        </div>
    </ion-content>
</ion-view>