<ion-view title="Goals" id="goalsView" style="" class="">
    <ion-content padding="true" class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<p ng-if="!authData"><button ui-sref="login" class="button button-block button-positive activated">Sign In</button></p>
		<p ng-if="authData">Logged in user: <strong>{{ authData.uid }}</strong></p>
		<p ng-if="error">Error: <strong>{{ error }}</strong></p>
        <div class="list card " id="goals-card21">
            <ion-item class="item-icon-left assertive pmfont" id="goals-list-item9">
                <i class="icon ion-calendar"></i>Daily Actions</ion-item>
            <ion-list id="goals-list2" class=" ">
                <ion-checkbox>Read Scriptures</ion-checkbox>
                <ion-checkbox>Daily F.I.G.H.T. Lesson</ion-checkbox>
                <ion-checkbox>Write in Journal</ion-checkbox>
            </ion-list>
        </div>
        <div class="list card " id="goals-card23">
            <ion-item class="item-icon-left positive pmfont" id="goals-list-item19">
                <i class="icon ion-calendar"></i>Weekly Actions</ion-item>
            <ion-list id="goals-list4" class=" ">
                <ion-checkbox>F.I.G.H.T. Challenge</ion-checkbox>
                <ion-checkbox>Duty to God</ion-checkbox>
                <ion-checkbox>Scouting Progress</ion-checkbox>
                <ion-checkbox>Share Testimony</ion-checkbox>
            </ion-list>
        </div>
        <div class="list card " id="goals-card219">
            <ion-item class="item-icon-left balanced pmfont" id="goals-list-item57">
                <i class="icon ion-calendar"></i>Monthly Actions</ion-item>
            <ion-list id="goals-list7" class=" ">
                <ion-checkbox>Attend Temple</ion-checkbox>
            </ion-list>
        </div>
    </ion-content>
</ion-view>