<ion-view title="Goals" id="goalsView">
    <ion-content padding="true" class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<p ng-if="!authData"><button ui-sref="login" class="button button-block button-positive">Sign In</button></p>
        <div class="list card">
            <ion-item class="item-icon-left assertive pmfont">
                <i class="icon ion-calendar"></i>Daily Actions</ion-item>
            <ion-list>
                <ion-checkbox>Read Scriptures</ion-checkbox>
                <ion-checkbox>Daily F.I.G.H.T. Lesson</ion-checkbox>
                <ion-checkbox>Write in Journal</ion-checkbox>
            </ion-list>
        </div>
        <div class="list card">
            <ion-item class="item-icon-left positive pmfont">
                <i class="icon ion-calendar"></i>Weekly Actions</ion-item>
            <ion-list>
                <ion-checkbox>F.I.G.H.T. Challenge</ion-checkbox>
                <ion-checkbox>Duty to God</ion-checkbox>
                <ion-checkbox>Scouting Progress</ion-checkbox>
                <ion-checkbox>Share Testimony</ion-checkbox>
            </ion-list>
        </div>
        <div class="list card">
            <ion-item class="item-icon-left balanced pmfont">
                <i class="icon ion-calendar"></i>Monthly Actions</ion-item>
            <ion-list>
                <ion-checkbox>Attend Temple</ion-checkbox>
            </ion-list>
        </div>
    </ion-content>
</ion-view>