<ion-view title="Introduction to FIGHT Lessons" id="page8" style="background-color:#D5D4DA;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/5Rh9ifTHQueVV4xFrWuj_jesus.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body " id="introductionToFIGHTLessons-list-item-container19">
            <h1 id="introductionToFIGHTLessons-heading4" style="color:#000000;font-weight:300;text-align:center;" class=" ">F.I.G.H.T</h1>
            <h2 id="introductionToFIGHTLessons-heading5" style="color:#000000;font-weight:lighter;text-align:center;" class=" ">For In God He Trusted</h2>
            <p id="introductionToFIGHTLessons-markdown7" style="color:#000000;text-align:justify;" class=" ">We will be different as we decide not to fill our minds with media choices that are base and demeaning and that will remove the Spirit from our homes and our lives. We will certainly stand out as we make choices regarding morality—choices
                which adhere to gospel principles and standards. Those things which make us different from most of the world also provide us with that light and that spirit which will shine in an increasingly dark world.</p>
            <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
            id="introductionToFIGHTLessons-video4" class=" ">
                <iframe src="https://www.youtube.com/embed/hJ9_1KfCg5I?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
            </div>
        </div>
    </ion-content>
</ion-view>