<ion-view title="June 1 - Fulfilling Your Duty to God" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="june1FulfillingYourDutyToGod-video1" class=" ">
            <iframe src="https://www.youtube.com/embed/vu7vSRuOZJQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
        <h3 id="june1FulfillingYourDutyToGod-heading1" style="color:#000000;" class=" ">Fulfilling Your Duty to God</h3>
        <h4 id="june1FulfillingYourDutyToGod-heading2" style="color:#000000;font-weight:lighter;" class=" ">The purpose of Duty to God is to help you experience the power, authority, and divine mandate you received when the priesthood was conferred upon you.</h4>
        <p id="june1FulfillingYourDutyToGod-markdown3" style="color:#000000;text-align:justify;"
        class=" ">While serving as full-time missionaries in Chile, my companions and I had several opportunities to give priesthood blessings. On one occasion, after pronouncing a blessing on a single mother suffering from cancer, we expressed our appreciation
            for the opportunity of blessing her. Her response surprised us. She exclaimed, “Elders, you are the real blessing.” She continued, “Having worthy priesthood men in my home is the greatest blessing of all.”</p>
        <p id="june1FulfillingYourDutyToGod-markdown5"
        style="color:#000000;text-align:justify;" class=" ">As we thought about her comments, we recognized that God really does bless His children through righteous priesthood holders. If we hadn’t been there, ready to fulfill our priesthood duty, she could not have received the blessing we provided.
            We learned that fulfilling our duty to God meant living worthy to bless and serve others.</p>
        <h3 id="june1FulfillingYourDutyToGod-heading3" style="color:#000000;" class=" ">Why Duty to God?</h3>
        <p id="june1FulfillingYourDutyToGod-markdown4" style="color:#000000;text-align:justify;" class=" ">Young men of the Aaronic Priesthood, the purpose of Fulfilling My Duty to God is to help you experience the power, authority, and divine mandate you received when the priesthood was conferred upon you. The Lord has said that “men should be anxiously
            engaged in a good cause, and do many things of their own free will, and bring to pass much righteousness; for the power is in them” (D&amp;C 58:27–28).</p>
    </ion-content>
</ion-view>