<ion-view title="June 2" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="rewards-card27">
            <ion-item class="item" id="rewards-list-item27">
			<h3 id="feed-heading8" style="text-align:center;" class="pmfont">June 2nd lesson available in</h3>
			<h3 id="feed-heading9" style="font-weight:300;font-style:italic;text-align:center;" class=""><span countdown='' date='June 2, 2016 00:00:00 MST'>&nbsp;</span></h3>
            </ion-item>
        </div>

	</ion-content>
</ion-view>