<ion-view title="{{lesson.fulltitle}}">
    <ion-content padding="true" class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<p ng-if="!authData"><button ui-sref="login" class="button button-block button-positive">Sign In</button></p>
		<div class="list card" ng-if="lesson.actions">
			<div class="item item-divider item-text-wrap pmfont">F.I.G.H.T. Actions = {{pointTotal ? pointTotal : 0 | number:0}} Available Points</div>
			<div class="item item-text-wrap item-icon-left" ng-repeat="action in actions" ng-click="reportAction(action.$id)"><i class="icon" ng-class="{'ion-minus-circled assertive': !today.scripture, 'ion-checkmark-circled balanced': today.scripture}"></i> {{action.title}}<br><span class="pmfont">{{action.pointValue}} points</span> ID {{action.$id}}</div>
		</div>
		<div ng-bind-html="lesson.html"></div>
	</ion-content>
</ion-view>
