<ion-view title="{{lesson.fulltitle}}">
    <ion-content padding="true" class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<p ng-if="!authData"><button ui-sref="login" class="button button-block button-positive">Sign In</button></p>
		<div ng-bind-html="lesson.html"></div>
		<div class="list card">
			<ion-item class="item pmfont">F.I.G.H.T. Actions:</ion-item>
			<ion-list>
				<ion-checkbox>Read the Lesson</ion-checkbox>
			</ion-list>
			<div class="item item-body">
				<p>Track your points:<br>1 point for completing this F.I.G.H.T. lesson</p>
			</div>
		</div>
	</ion-content>
</ion-view>
