<ion-view title="Lessons" id="page6" style="" class=" ">
    <ion-content padding="true" class="has-header">
<div class="card">
  <div class="item item-divider">
	<h1>Lessons</h1>
	<p>Every day there is a short lesson to read or watch.</p>
  </div>
        <ion-list id="lessons-list5" class=" ">
            <ion-item id="lessons-list-item30" ui-sref="tabsController.introductionToFIGHTLessons" class="  ">Introduction</ion-item>
            <ion-item id="lessons-list-item31" ui-sref="tabsController.june1FulfillingYourDutyToGod" class="  ">June 1 - Fulfilling Your Duty to God</ion-item>
            <ion-item id="lessons-list-item32" ui-sref="tabsController.june2" class="  ">June 2 (coming soon)</ion-item>
        </ion-list>
</div>
    </ion-content>
</ion-view>