<ion-view title="Memorize" id="page9">
    <ion-content padding="true" class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<p ng-if="!authData"><button ui-sref="login" class="button button-block button-positive">Sign In</button></p>
		<div class="card">
			<div class="item item-divider item-text-wrap">
				<h1>{{!isMyGoals ? user.displayName + "'s" : "My"}} Memorize</h1>
				<p ng-hide="!isMyGoals">Take time each day to memorize one of the scriptures or songs. To earn points, you will recite the scripture to one of your leaders.</p>
			</div>
			<div class="list">
				<div ng-if="isMyGoals" class="item item-text-wrap item-icon-left" ng-class="{dark: !user.points[memorize.$id].pointValue, balanced: user.points[memorize.$id].pointValue, 'item-icon-right': memorize.type == 'hymn'}" ng-repeat="memorize in memorizelist" ui-sref="tabsController.memorize-detail({ memorizeId: memorize.$id })"><i class="icon" ng-class="{'ion-minus-circled energized': !user.points[memorize.$id].pointValue, 'ion-checkmark-circled balanced': user.points[memorize.$id].pointValue}"></i> {{memorize.title}} <i class="icon ion-music-note calm" ng-if="memorize.type == 'hymn'"></i></div>
				<div ng-if="!isMyGoals" class="item item-text-wrap item-icon-left" ng-class="{dark: !user.points[memorize.$id].pointValue, balanced: user.points[memorize.$id].pointValue, 'item-icon-right': memorize.type == 'hymn'}" ng-repeat="memorize in memorizelist" ui-sref="tabsController.users-detail-memorize-detail({ userId: user.$id, memorizeId: memorize.$id })"><i class="icon" ng-class="{'ion-minus-circled energized': !user.points[memorize.$id].pointValue, 'ion-checkmark-circled balanced': user.points[memorize.$id].pointValue}"></i> {{memorize.title}} <i class="icon ion-music-note calm" ng-if="memorize.type == 'hymn'"></i></div>
			</div>
		</div>
    </ion-content>
</ion-view>