<ion-view title="{{memorize.title}}">
    <ion-content padding="true" class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<p ng-if="!authData"><button ui-sref="login" class="button button-block button-positive">Sign In</button></p>
        <div class="list card">
            <ion-item class="item item-divider item-text-wrap">
                <h1>{{memorize.title}}</h1>
                <p>{{memorize.subtitle}}</p>
            </ion-item>
            <div class="item item-body" ng-bind-html="memorize.html"></div>
        </div>
		<div class="list card">
			<div class="item item-divider item-text-wrap pmfont">F.I.G.H.T. Actions = {{memorize.pointValue}} Available Points</div>
			<div class="item item-text-wrap item-icon-left" ng-click="change()"><i class="icon" ng-class="{'ion-minus-circled energized': !memorize.isCompleted, 'ion-checkmark-circled balanced': memorize.isCompleted}"></i> Memorize {{memorize.title}}<br><span class="pmfont">{{memorize.pointValue}} points</span></div>
			<div class="item item-text-wrap" ng-if="!memorize.isCompleted">
				<p>You will be awarded {{memorize.pointValue}} points after reciting to one of your leaders, in person and without any assistance.</p>
			</div>
		</div>
    </ion-content>
</ion-view>