<ion-view title="Missionaries">
	<ion-nav-title class="pmfont">Allen Ranch Ward Missionaries</ion-nav-title>
    <ion-content padding="true" class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<p ng-if="!authData"><button ui-sref="login" class="button button-block button-positive">Sign In</button></p>
		<div class="button-bar filterbar">
			<button ng-click="order('firstName')" class="button button-small" ng-class="predicate == 'firstName' ? 'button-positive icon-right' : 'button-stable'">First Name <i ng-if="predicate == 'firstName'" ng-class="reverse ? 'ion-arrow-down-b' : 'ion-arrow-up-b'"></i></button>
			<button ng-click="order('lastName')" class="button button-small" ng-class="predicate == 'lastName' ? 'button-positive icon-right' : 'button-stable'">Last Name <i ng-if="predicate == 'lastName'" ng-class="reverse ? 'ion-arrow-down-b' : 'ion-arrow-up-b'"></i></button>
			<button ng-click="order('distance')" class="button button-small" ng-class="predicate == 'distance' ? 'button-positive icon-right' : 'button-stable'">Distance <i ng-if="predicate == 'distance'" ng-class="reverse ? 'ion-arrow-down-b' : 'ion-arrow-up-b'"></i></button>
		</div>
		<div class="list card" ng-repeat="missionary in missionaries | orderBy: predicate : reverse">
			<div class="item item-thumbnail-left item-text-wrap" ui-sref="tabsController.missionaries-detail({ missionaryId: missionary.$id })">
				<img ng-src="{{missionary.imgSrc}}">
				<h1>{{missionary.displayName}}</h1>
				<h2>{{missionary.mission}} Mission</h2>
				<p>Distance: {{missionary.distance | number:0}} miles from home</p>
			</div>
            <div class="item item-text-wrap item-icon-left" ng-class="{dark: !currentUser.points[missionary.$id].pointValue, balanced: currentUser.points[missionary.$id].pointValue}" ui-sref="tabsController.missionaries-detail({ missionaryId: missionary.$id })"><i class="icon" ng-class="{'ion-minus-circled energized': !currentUser.points[missionary.$id].pointValue, 'ion-checkmark-circled balanced': currentUser.points[missionary.$id].pointValue}"></i> I {{currentUser.points[missionary.$id].pointValue ? 'Wrote' : 'need to write'}} to Elder {{missionary.lastName}}</div>
			<div class="item item-image" ng-show="missionary.missionMapWideImgSrc" ui-sref="tabsController.missionaries-detail({ missionaryId: missionary.$id })">
				<img ng-src="{{missionary.missionMapWideImgSrc}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
			</div>
			<div class="item" ng-show="missionary.dateHome">
			 Will be home in <span countdown='' date='{{missionary.dateHome}}'>{{missionary.dateHome}}</span>
			</div>
		</div>
    </ion-content>
</ion-view>