<ion-view title="Missionary">
	<ion-nav-title class="pmfont">{{missionary.displayName}}</ion-nav-title>
    <ion-content padding="true" class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<p ng-if="!authData"><button ui-sref="login" class="button button-block button-positive">Sign In</button></p>
		<div class="list card">
			<div class="item item-thumbnail-left item-text-wrap">
				<img ng-src="{{missionary.imgSrc}}">
				<h1>{{missionary.displayName}}</h1>
				<h2>{{missionary.mission}} Mission</h2>
				<p>Distance: {{missionary.distance | number:0}} miles from home</p>
			</div>
			<a href="mailto:{{missionary.email}}" class="item item-text-wrap item-icon-left" ng-if="missionary.email">
				<i class="icon ion-compose"></i> Write {{missionary.displayName}} an email<br>{{missionary.email}}
			</a>
			<div class="item item-text-wrap">
				<div ng-if="missionary.missionAddress" style="margin-bottom: 15px;"><span class="pmfont">Misson Address:</span><div ng-bind-html="missionary.missionAddress" style="font-size: 14px; line-height: 16px; font-style: italic; font-family: serif; margin-left: 15px;"></div></div>
				<button type="button" ng-click="reportWriteMissionary()"    class="button button-outline icon-left" ng-class="{'ion-minus-circled button-energized': !currentUser.points[missionaryKey].pointValue, 'ion-checkmark-circled button-balanced': currentUser.points[missionaryKey].pointValue}">I Wrote Missionary</button>
			</div>
			<div class="item item-text-wrap item-icon-left" ng-if="missionary.letters" ui-sref="tabsController.missionaries-detail-letters({ missionaryId: missionary.$id })">
				<i class="icon ion-email"></i> Letters from the Mission
			</div>
			<div class="item item-text-wrap item-icon-left" ng-if="missionary.rss" ui-sref="tabsController.missionaries-detail-rss({ missionaryId: missionary.$id })">
				<i class="icon ion-email"></i> Mission Blog
			</div>
			<div class="item" ng-show="missionary.dateHome">
			 Will be home in <span countdown='' date='{{missionary.dateHome}}'>{{missionary.dateHome}}</span>
			</div>
			<div class="item item-image" ng-show="missionary.missionMapImgSrc">
				<img ng-src="{{missionary.missionMapImgSrc}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
			</div>
			<div class="item item-image" ng-show="missionary.missionMapWideImgSrc">
				<img ng-src="{{missionary.missionMapWideImgSrc}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
			</div>
			<div class="item item-image" ng-show="missionary.imgSrc">
				<img ng-src="{{missionary.imgSrc}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
			</div>
		</div>
    </ion-content>
</ion-view>