<ion-view title="Missionary: {{missionary.displayName}}" class="templebg">
    <ion-content padding="true" class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<p ng-if="!authData"><button ui-sref="login" class="button button-block button-positive">Sign In</button></p>
		<div class="list card">
			<div class="item item-thumbnail-left item-text-wrap">
				<img ng-src="{{missionary.imgSrc}}">
				<h1>{{missionary.displayName}}</h1>
				<h2>{{missionary.mission}} Mission</h2>
				<p>Distance: {{missionary.distance | number:0}} miles from home</p>
			</div>
			<div class="item item-image" ng-show="missionary.missionMapImgSrc">
				<img ng-src="{{missionary.missionMapImgSrc}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
			</div>
			<div class="item item-image" ng-show="missionary.missionMapWideImgSrc">
				<img ng-src="{{missionary.missionMapWideImgSrc}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
			</div>
			<div class="item item-image" ng-show="missionary.imgSrc">
				<img ng-src="{{missionary.imgSrc}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
			</div>
			<div class="item" ng-show="missionary.dateHome">
			 Will be home in <span countdown='' date='{{missionary.dateHome}}'>{{missionary.dateHome}}</span>
			</div>
		</div>
    </ion-content>
</ion-view>