<ion-view title="Mosiah 2:22" id="tab5" style="" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="mosiah222-card214">
            <ion-item class="item" id="mosiah222-list-item46">
                <h1>Mosiah 2:22</h1>
                <p>Keep His commandments, He will bless you</p>
            </ion-item>
            <div class="item item-body " id="mosiah222-list-item-container14">
                <p id="mosiah222-markdown16" style="margin-top:0px;color:#000000;" class=" ">And behold, all that he requires of you is to keep his commandments; and he has promised you that if ye would keep his commandments ye should prosper in the land; and he never doth vary from that which he hath said; therefore, if ye do keep his commandments he doth bless you and prosper you.</p>
            </div>
        </div>
    </ion-content>
</ion-view>