<ion-view title="Mosiah 7:33" id="page11" style="background-color:#D5D4DA;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="mosiah733-card210">
            <ion-item class="item" id="mosiah733-list-item39">
                <h2>Mosiah 7:33</h2>
                <p>Trust in Him, blessings come</p>
            </ion-item>
            <div class="item item-body " id="mosiah733-list-item-container9">
                <p id="mosiah733-markdown11" style="margin-top:0px;color:#000000;" class=" ">But if ye will turn to the Lord with full purpose of heart, and put your trust in him, and serve him with all diligence of mind, if ye do this, he will, according to his own will and pleasure, deliver you out of bondage.</p>
            </div>
        </div>
    </ion-content>
</ion-view>