<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Points</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content>
	  <form name="reportForm">
		<h1>Report {{reportingType|capitalize}}</h1>
		<p>Point Value: {{pointValue ? pointValue : 0}}</p>
		
        <div class="list">
			<div ng-show="dateButtons">
			<button class="button button-positive" ng-click="setReportDateToday()">Today</button>
			<button class="button button-info" ng-click="getDateField(pointInfo)">Previous Day</button>
			</div>
			<label class="item item-input" ng-show="dateField">
			  <span class="input-label">Date</span>
			  <input type="date" ng-model="pointInfo.date">
			</label>
		</div>

		<div class="">
        <div class="list">
		</div>
		<button class="button button-full button-positive" ng-click="doReport(pointInfo)">Submit Points</button>
		</div>
	  </form>
    </ion-content>
</ion-modal-view>