<ion-view title="Rewards" id="page3" class="templebg">
    <ion-content padding="true" class="has-header">
        <h3 id="feed-heading8" style="color:#FFFFFF;text-align:center;" class="pmfont">Rewards Launch in:</h3>
        <h3 id="feed-heading9" style="color:#FFFFFF;font-weight:300;font-style:italic;text-align:center;" class=""><span countdown='' date='June 1, 2016 00:00:00 MST'>&nbsp;</span></h3>
        <p id="rewards-markdown12" style="color:#858585;" class=" ">Rewards will grow as the program progresses. New rewards will be added each week.</p>
        <div class="list card " id="rewards-card27">
            <ion-item class="item" id="rewards-list-item27">
                <h2>Knife</h2>
                <p>Donated by Gary Krauser</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/JmYegnXQ1iZ4x1RcBEpW_81L0TMB3gSL._SL1500_.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item">
			Can be claimed starting in <span countdown='' date='June 15, 2016 00:00:00 MST'>&nbsp;</span>
            </div>
        </div>
        <div class="list card " id="rewards-card24">
            <ion-item class="item" id="rewards-list-item22">
                <h2>Team Arizona Basketball</h2>
                <p>Donated by Josh Gonzales</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/r1YosCDaS16RV8ftY6Q2_baden-element-game-basketball-BX451.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item">
			Can be claimed starting in <span countdown='' date='July 1, 2016 00:00:00 MST'>&nbsp;</span>
            </div>
        </div>
        <div class="list card " id="rewards-card24">
            <ion-item class="item" id="rewards-list-item22">
                <h2>Gilbert Temple Photo</h2>
                <p>Donated by Jaime Johnson</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/reward_temple_pic.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item">
			Will be Awarded in <span countdown='' date='August 1, 2016 00:00:00 MST'>&nbsp;</span>
            </div>
        </div>
    </ion-content>
</ion-view>