<ion-view title="Reward: {{reward.displayName}}" class="templebg">
    <ion-content padding="true" class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<p ng-if="!authData"><button ui-sref="login" class="button button-block button-positive">Sign In</button></p>
		<div class="list card">
			<div class="item">
			  <h1>{{reward.displayName}}</h1>
			  <p ng-show="reward.donatedBy">Donated by {{reward.donatedBy}}</p>
			</div>
			<div class="item item-image" ng-show="reward.imgSrc">
				<img src="{{reward.imgSrc}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
			</div>
			<div class="item" ng-show="reward.dateClaim">
			Can be claimed starting in <span countdown='' date='{{reward.dateClaim}}'>{{reward.dateClaim}}</span>
			</div>
			<div class="item" ng-show="reward.dateAwarded">
			Will be Awarded in <span countdown='' date='{{reward.dateAwarded}}'>{{reward.dateAwarded}}</span>
			</div>
		</div>
    </ion-content>
</ion-view>