<ion-view title="Rewards" id="page3" style="background-color:#D5D4DA;" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="rewards-markdown12" style="color:#858585;" class=" ">Rewards will grow as the program progresses. New rewards will be added each week.</p>
        <div class="list card " id="rewards-card27">
            <ion-item class="item" id="rewards-list-item27">
                <h2>Knife</h2>
                <p>donated by Gary K</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/JmYegnXQ1iZ4x1RcBEpW_81L0TMB3gSL._SL1500_.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
        <div class="list card " id="rewards-card24">
            <ion-item class="item" id="rewards-list-item22">
                <h2>Team Arizona Basketball</h2>
                <p>donated by Josh G</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/r1YosCDaS16RV8ftY6Q2_baden-element-game-basketball-BX451.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
    </ion-content>
</ion-view>