<ion-view id="tab">
	<ion-nav-title class="pmfont"><img src="img/Logo2.png" style="height: 40px;"></ion-nav-title>
    <ion-tabs class="tabs-positive tabs-icon-only" id="tabsController-tabs1">
        <ion-tab title="Feed" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="tabsController.feed" id="tabsController-tab-feed">
            <ion-nav-view name="tab-feed"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Goals" icon="ion-compass" ui-sref="tabsController.goals" id="tabsController-tab-goals">
            <ion-nav-view name="tab-goals"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Lessons" icon-on="ion-ios-book" icon-off="ion-ios-book-outline" ui-sref="tabsController.lessons" id="tabsController-tab-lessons">
            <ion-nav-view name="tab-lessons"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Memorize" icon-on="ion-ios-color-wand" icon-off="ion-ios-color-wand-outline" ui-sref="tabsController.memorize" id="tabsController-tab-memorize">
            <ion-nav-view name="tab-memorize"></ion-nav-view>
        </ion-tab>
        <ion-tab ng-if="currentUser" title="Rewards" icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline" ui-sref="tabsController.rewards" id="tabsController-tab-rewards">
            <ion-nav-view name="tab-rewards"></ion-nav-view>
        </ion-tab>
        <ion-tab ng-if="currentUser.isARWard" title="Missionaries" icon="ion-android-bicycle" ui-sref="tabsController.missionaries" id="tabsController-tab-missionaries">
            <ion-nav-view name="tab-missionaries"></ion-nav-view>
        </ion-tab>
        <ion-tab ng-if="currentUser" title="Me" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="tabsController.account" id="tabsController-tab-account">
            <ion-nav-view name="tab-account"></ion-nav-view>
        </ion-tab>
        <ion-tab ng-if="currentUser.groups.leaders || currentUser.groups.parents || currentUser.groups.deacons || currentUser.groups.teachers || currentUser.groups.priests" title="Users" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" ui-sref="tabsController.users" id="tabsController-tab-users">
            <ion-nav-view name="tab-users"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>