<ion-view title="True to the Faith" id="page18" style="background-color:#D5D4DA;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="trueToTheFaith-card217">
            <ion-item class="item" id="trueToTheFaith-list-item52">
                <h2>True to the Faith</h2>
                <p>Hymn #254</p>
            </ion-item>
            <div class="item item-body " id="trueToTheFaith-list-item-container17">
                <p id="trueToTheFaith-markdown25" style="margin-top:0px;color:#000000;" class=" ">Shall the youth of Zion falter In defending truth and right? While the enemy assaileth, Shall we shrink or shun the fight? No!</p>
                <p id="trueToTheFaith-markdown26" style="color:#000000;" class=" ">Chorus: True to the faith that our parents have cherished, True to the truth for which martyrs have perished, To God's command, Soul, heart, and hand, Faithful and true we will ever stand.</p>
                <p id="trueToTheFaith-markdown27" style="color:#000000;"
                class=" ">While we know the pow'rs of darkness Seek to thwart the work of God, Shall the children of the promise Cease to grasp the iron rod? No!</p>
                <p id="trueToTheFaith-markdown28" style="color:#000000;" class=" ">We will work out our salvation; We will cleave unto the truth; We will watch and pray and labor With the fervent zeal of youth. Yes!</p>
                <p id="trueToTheFaith-markdown29" style="color:#000000;" class=" ">We will strive to be found worthy Of the kingdom of our Lord, With the faithful ones redeemed Who have loved and kept his word. Yes!</p>
            </div>
        </div>
    </ion-content>
</ion-view>