<ion-view title="User Detail" cache="false">
	<ion-nav-title class="pmfont">{{user.displayName}}</ion-nav-title>
    <ion-content padding="true" class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<p ng-if="!authData"><button ui-sref="login" class="button button-block button-positive">Sign In</button></p>
        <div class="list card">
			<div class="item item-text-wrap item-avatar">
				<img ng-src="{{user.avatarUrl ? user.avatarUrl : defaultAvatarUrl}}" ng-click="newProfilePhoto()">
				<h1 style="margin: 0;">{{user.displayName}}</h1>
				<h3 class="pmfont" style="font-size: 105%; margin: 0;"><span style="font-size: 120%;">{{user.pointsTotal ? user.pointsTotal : 0 | number:0}}</span> F.I.G.H.T. Points</h3>
				<div ng-if="isYM() && currentUser.groups.leaders">
					<h4 class="pmfont" style="margin: 0;"><span style="font-size: 110%;">{{user.pointsSpent ? user.pointsSpent : 0 | number:0}}</span> Points Spent</h4>
					<h4 class="pmfont" style=" margin: 0;"><span style="font-size: 140%;">{{user.pointsSpent && user.pointsTotal ? user.pointsTotal - user.pointsSpent : user.pointsTotal | number:0}}</span> Points Available to Spend</h4>
				</div>
			</div>
		</div>

		<div class="list" ng-if="currentUser.groups && currentUser.groups.leaders && currentUser.groups.leaders === true">
			<div class="item item-divider item-text-wrap">
				<h1>{{user.firstName}}'s Account</h1>
			</div>
			<div class="item item-text-wrap item-icon-left" ui-sref="tabsController.users-detail-edit({ userId: user.$id })"><i class="icon ion-compose"></i> Edit {{user.firstName}}'s Profile</div>
			<div class="item item-text-wrap item-icon-left" ui-sref="tabsController.users-detail-memorize({ userId: user.$id })"><i class="icon ion-ios-color-wand"></i> Memorize</div>
			<div class="item item-text-wrap item-icon-left" ui-sref="tabsController.users-detail-lessons({ userId: user.$id })"><i class="icon ion-ios-book"></i> Lesson</div>
			<div class="item item-text-wrap item-icon-left" ui-sref="tabsController.users-detail-goals({ userId: user.$id })"><i class="icon ion-compass"></i> Actions &amp; Record Points</div>
			<div class="item item-text-wrap item-icon-left" ui-sref="tabsController.users-detail-daily({ userId: user.$id })"><i class="icon ion-calendar"></i> Daily &amp; Weekly Overview</div>
			<div class="item item-text-wrap item-icon-left" ui-sref="tabsController.users-detail-points({ userId: user.$id })"><i class="icon ion-ios-list-outline"></i> Point Log</div>
			<div class="item item-text-wrap item-icon-left assertive" ng-click="deleteProfilePhoto()" ng-if="user.avatarUrl && canDeleteProfilePhoto()"><i class="icon ion-trash-a assertive"></i> Delete {{user.firstName}}'s Profile Photo</div>
			<div class="item item-text-wrap item-icon-left assertive" ng-click="deletePoints()" ng-if="canDeletePoints()"><i class="icon ion-trash-a assertive"></i> Delete {{user.firstName}}'s Ponts</div>
			<div class="item item-text-wrap item-icon-left assertive" ng-click="deleteUser()" ng-if="canDeleteUser()"><i class="icon ion-trash-a assertive"></i> Delete {{user.firstName}}'s Account</div>
		</div>
		<div class="list" ng-if="user.groups.parents">
			<div class="item item-divider item-text-wrap">
				<h1>{{user.firstName}}'s Children</h1>
			</div>
		</div>
	</ion-content>
</ion-view>