<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title pmfont">{{user.displayName}} Groups</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content>
		<div class="list">
			<div class="item item-text-wrap item-toggle" ng-repeat="(groupKey, group) in groups">
				{{group.displayName}}
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="user.groups[groupKey]">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>
		</div>

		<button class="button button-full button-positive" ng-click="saveGroups()">Save Groups</button>
    </ion-content>
</ion-modal-view>