<ion-view title="Users" style="" class=" ">
    <ion-content padding="true" class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <ion-list>
		  <ion-item ng-repeat="(userKey, user) in users" ui-sref="tabsController.users.detail({ userId: userKey })">{{user.displayName}} ({{userKey}})</ion-item>
        </ion-list>
		<div class="list">
		  <div class="item item-divider">Deacons</div>
		  <div class="item item-divider">Teachers</div>
		  <div class="item item-divider">Priests</div>
		  <div class="item item-divider">Parents</div>
		  <div class="item item-divider">Other Adults</div>
        </div>
    </ion-content>
</ion-view>