<ion-view title="{{!isMe ? user.displayName + '\'s' : 'My'}} Points Log" cache="false">
	<ion-nav-title class="pmfont">{{!isMe ? user.displayName + "'s" : "My"}} Points Log</ion-nav-title>
    <ion-content padding="true" class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<p ng-if="!authData"><button ui-sref="login" class="button button-block button-positive">Sign In</button></p>
        <div class="list card">
			<div class="item item-text-wrap item-avatar">
				<img ng-src="{{user.avatarUrl ? user.avatarUrl : defaultAvatarUrl}}">
				<h1 style="margin: 0;">{{user.displayName}}</h1>
				<h3 class="pmfont" style="font-size: 105%; margin: 0;"><span style="font-size: 120%;">{{user.pointsTotal ? user.pointsTotal : 0 | number:0}}</span> F.I.G.H.T. Points</h3>
			</div>
		</div>

		<div class="button-bar filterbar">
			<button ng-click="order('date')" class="button button-small" ng-class="predicate == 'date' ? 'button-positive icon-right' : 'button-stable'">Entry Date <i ng-if="predicate == 'date'" ng-class="reverse ? 'ion-arrow-down-b' : 'ion-arrow-up-b'"></i></button>
			<button ng-click="order('timestamp')" class="button button-small" ng-class="predicate == 'timestamp' ? 'button-positive icon-right' : 'button-stable'">Reported <i ng-if="predicate == 'timestamp'" ng-class="reverse ? 'ion-arrow-down-b' : 'ion-arrow-up-b'"></i></button>
			<button ng-click="order('type')" class="button button-small" ng-class="predicate == 'type' ? 'button-positive icon-right' : 'button-stable'">Type <i ng-if="predicate == 'type'" ng-class="reverse ? 'ion-arrow-down-b' : 'ion-arrow-up-b'"></i></button>
			<button ng-click="order('pointValue')" class="button button-small" ng-class="predicate == 'pointValue' ? 'button-positive icon-right' : 'button-stable'">Total Points <i ng-if="predicate == 'pointValue'" ng-class="reverse ? 'ion-arrow-down-b' : 'ion-arrow-up-b'"></i></button>
		</div>
		<div class="button-bar filterbar">
			<button ng-click="selectType('scriptures')" class="button button-small" ng-class="selectedType == 'scriptures' ? 'button-positive icon-right' : 'button-stable'">Scriptures</button>
			<button ng-click="selectType('journal')" class="button button-small" ng-class="selectedType == 'journal' ? 'button-positive icon-right' : 'button-stable'">Journal</button>
			<button ng-click="selectType('lesson')" class="button button-small" ng-class="selectedType == 'lesson' ? 'button-positive icon-right' : 'button-stable'">Lesson</button>
		</div>
		<div class="button-bar filterbar">
			<button ng-click="selectType('temple')" class="button button-small" ng-class="selectedType == 'temple' ? 'button-positive icon-right' : 'button-stable'">Temple</button>
			<button ng-click="selectType('dutyToGod')" class="button button-small" ng-class="selectedType == 'dutyToGod' ? 'button-positive icon-right' : 'button-stable'">Duty To God</button>
			<button ng-click="selectType('scouting')" class="button button-small" ng-class="selectedType == 'scouting' ? 'button-positive icon-right' : 'button-stable'">Scouting</button>
			<button ng-click="selectType('testimony')" class="button button-small" ng-class="selectedType == 'testimony' ? 'button-positive icon-right' : 'button-stable'">Testimony</button>
			<button ng-click="selectType('missionPrep')" ng-if="user.groups.leaders || user.groups.priests" class="button button-small" ng-class="selectedType == 'missionPrep' ? 'button-positive icon-right' : 'button-stable'">Mission Prep</button>
		</div>
		<div class="button-bar filterbar">
			<button ng-click="selectType('social')" class="button button-small" ng-class="selectedType == 'social' ? 'button-positive icon-right' : 'button-stable'">Social</button>
			<button ng-click="selectType('indexing')" class="button button-small" ng-class="selectedType == 'indexing' ? 'button-positive icon-right' : 'button-stable'">Indexing</button>
			<button ng-click="selectType('friendToChurch')" class="button button-small" ng-class="selectedType == 'friendToChurch' ? 'button-positive icon-right' : 'button-stable'">Friends to Church</button>
			<button ng-click="selectType('friendToActivity')" class="button button-small" ng-class="selectedType == 'friendToActivity' ? 'button-positive icon-right' : 'button-stable'">Friends to Activity</button>
			<button ng-click="selectType('classroom')" class="button button-small" ng-class="selectedType == 'classroom' ? 'button-positive icon-right' : 'button-stable'">Classroom</button>
		</div>
		<ion-list click-for-options-wrapper class="list card" ng-if="pointsList">
		  <div class="item item-divider">{{selectedType ? (selectedType == 'all' ? "All Points" : (selectedType | capitalize)) : "All Points"}} {{filteredPoints.length}} Entries</div>
		  <ion-item click-for-options class="item item-text-wrap" ng-repeat="point in filteredPoints = (pointsList | orderBy: predicate : reverse | filter: filterPoints())">
			<div style="font-size: 13px; line-height: 15px;"><span class="pmfont" style="font-size: 16px;{{point.pointValue < 0 ? ' color:red;' : ''}}">{{point.pointValue}}</span> <span>{{point.title}}</span></div>
			<div style="font-size: 11px; line-height: 13px;" ng-if="point.assignedByName">Assigned By: {{point.assignedByName}}</div>
			<div style="font-size: 8px; line-height: 10px;">Type: {{point.type}} - Date: {{point.date | date:'EEE, MMM d'}} - Reported: {{point.timestamp | date:'EEE, MMM d, h:mm:ss a'}}</div>
			<ion-option-button class="button-assertive" ng-click="deletePoints(point.$id)" ng-if="!point.assignedByUid || (point.assignedByUid && currentUser.uid == point.assignedByUid) || currentUser.groups.leaders">
			  Delete
			</ion-option-button>
		  </ion-item>
        </ion-list>
	</ion-content>
</ion-view>