<ion-view title="User Detail">
	<ion-nav-title class="pmfont">{{user.displayName}}</ion-nav-title>
    <ion-content padding="true" class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<p ng-if="!authData"><button ui-sref="login" class="button button-block button-positive">Sign In</button></p>
        <div class="list card">
			<div class="item item-thumbnail-left">
				<img ng-src="{{currentUser.avatarUrl ? currentUser.avatarUrl : defaultAvatarUrl}}">
				<h1>{{user.firstName}} {{user.lastName}}</h1>
				<h3 class="pmfont">F.I.G.H.T. Points: {{user.pointsTotal ? user.pointsTotal : 0 | number:0}}</h3>
			</div>
		</div>
		<button ng-if="currentUser.groups.leaders" ng-click="editUser()" class="button button-positive icon-left ion-compose">Edit {{user.firstName}}</button>
		<button ng-if="uid == 'sRGIklkF2zQ7xYZqh7p1gczZe0J3'" ng-click="deleteUser()" class="button button-assertive icon-left ion-trash-a">Delete {{user.firstName}}</button>

		<div class="list" ng-if="currentUser.groups.leaders">
			<div class="item item-divider item-text-wrap">
				<h1>Points</h1>
			</div>
			<div class="item item-text-wrap item-icon-left" ui-sref="tabsController.users-detail-memorize({ userId: user.$id })"><i class="icon ion-ios-color-wand"></i> Memorize Points: </div>
			<div class="item item-text-wrap item-icon-left" ui-sref="tabsController.users-detail-lessons({ userId: user.$id })"><i class="icon ion-ios-book"></i> Lesson Points: </div>
		</div>
	</ion-content>
</ion-view>