<ion-view title="Edit {{user.displayName}}" cache="false">
	<ion-nav-title class="pmfont">Edit {{user.displayName}}</ion-nav-title>
    <ion-content padding="true" class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<p ng-if="!authData"><button ui-sref="login" class="button button-block button-positive">Sign In</button></p>
        <div class="list card">
			<div class="item item-text-wrap item-thumbnail-left" style="font-size: 130%;">
				<img ng-src="{{user.avatarUrl ? user.avatarUrl : defaultAvatarUrl}}" ng-click="newProfilePhoto()">
				<h1 style="font-size: 130%;">{{user.displayName}}</h1>
				<h3 class="pmfont" style="font-size: 110%;"><span style="font-size: 180%;">{{user.pointsTotal ? user.pointsTotal : 0 | number:0}}</span> F.I.G.H.T. Points</h3>
			</div>
		</div>
        <div class="list card" ng-if="isMe || currentUser.groups.leaders">
			<div class="item item-text-wrap item-avatar" ng-click="newProfilePhoto()">
				<img ng-src="{{user.avatarUrl ? user.avatarUrl : defaultAvatarUrl}}" id="myAvatar">
				{{user.avatarUrl ? "Replace" : "Create"}} {{user.firstName}}'s Profile Photo
			</div>
			<label class="item item-text-wrap item-input">
				<span class="input-label">First Name</span>
				<input ng-model="user.firstName" type="text">
			</label>
			<label class="item item-text-wrap item-input">
				<span class="input-label">Last Name</span>
				<input ng-model="user.lastName" type="text">
			</label>
			<label class="item item-text-wrap item-input">
				<span class="input-label">Age</span>
				<input ng-model="user.age" type="number">
			</label>
			<div class="item item-text-wrap item-input">
				<span class="input-label">Email</span> {{user.email}}
			</div>
			<div class="item item-text-wrap item-input" ng-click="editGroups()" ng-if="currentUser.groups.leaders">
				<span class="input-label">Groups</span> {{user.groupsList}}
			</div>
		</div>
    </ion-content>
</ion-view>