<ion-view title="{{!isMe ? user.displayName + '\'s' : 'My'}} Points Log" cache="false">
	<ion-nav-title class="pmfont">{{!isMe ? user.displayName + "'s" : "My"}} Points Chart</ion-nav-title>
    <ion-content padding="true" class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<p ng-if="!authData"><button ui-sref="login" class="button button-block button-positive">Sign In</button></p>
        <div class="list card">
			<div class="item item-text-wrap item-avatar">
				<img ng-src="{{user.avatarUrl ? user.avatarUrl : defaultAvatarUrl}}">
				<h1 style="margin: 0;">{{user.displayName}}</h1>
				<h3 class="pmfont" style="font-size: 105%; margin: 0;"><span style="font-size: 120%;">{{user.pointsTotal ? user.pointsTotal : 0 | number:0}}</span> F.I.G.H.T. Points</h3>
			</div>
		</div>


        <div class="list card">
			<div class="item">
<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">

</canvas>
			</div>
		</div>

	</ion-content>
</ion-view>